In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
#import gmaps.datasets
#import json
#import os
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-05 15:10:33,-23.1203,-134.9692,77.88,73,52,12.82
1,1,Leningradskiy,RU,2021-02-05 15:11:26,69.3833,178.4167,-13.86,87,100,9.31
2,2,Alihe,CN,2021-02-05 15:09:10,50.5667,123.7167,-10.52,85,63,2.80
3,3,Yellowknife,CA,2021-02-05 15:10:55,62.4560,-114.3525,-38.20,67,1,8.05
4,4,Punta Arenas,CL,2021-02-05 15:11:09,-53.1500,-70.9167,55.40,50,20,28.77

In [8]:
#city_data_df.dtypes

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
#Google heatmaps do not plot negative numbers. 
#If you have a maximum temperature that is less than 0 °F, 
# then you will get an InvalidWeightException error for this line of code:
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent Windiness
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-02-05 15:10:33,-23.1203,-134.9692,77.88,73,52,12.82
5,5,Santa Maria Do Suacui,BR,2021-02-05 15:12:44,-18.1903,-42.4142,89.17,50,89,4.85
9,9,Meulaboh,ID,2021-02-05 15:11:35,4.1363,96.1285,80.02,76,92,1.83
10,10,Souillac,MU,2021-02-05 15:12:45,-20.5167,57.5167,82.40,69,40,13.80
17,17,Bathsheba,BB,2021-02-05 15:12:46,13.2167,-59.5167,80.60,61,75,17.27
19,19,Samarai,PG,2021-02-05 15:08:25,-10.6167,150.6667,81.55,78,2,4.29
22,22,Bani,DO,2021-02-05 15:12:46,18.2833,-70.3333,84.20,65,40,6.91
29,29,Manta,EC,2021-02-05 15:12:47,-0.9500,-80.7333,80.60,78,90,10.36
33,33,Bandarbeyla,SO,2021-02-05 15:12:48,9.4942,50.8122,75.00,67,12,12.03
34,34,Kieta,PG,2021-02-05 15:11:09,-6.2167,155.6333,80.24,80,67,5.26

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       2
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
preferred_cities_df.count()

City_ID       160
City          160
Country       158
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [30]:
Preferred_cities_df =preferred_cities_df.dropna()

In [31]:
Preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
0                 Rikitea      PF     77.88 -23.1203 -134.9692
5   Santa Maria Do Suacui      BR     89.17 -18.1903  -42.4142
9                Meulaboh      ID     80.02   4.1363   96.1285
10               Souillac      MU     82.40 -20.5167   57.5167
17              Bathsheba      BB     80.60  13.2167  -59.5167
19                Samarai      PG     81.55 -10.6167  150.6667
22                   Bani      DO     84.20  18.2833  -70.3333
29                  Manta      EC     80.60  -0.9500  -80.7333
33            Bandarbeyla      SO     75.00   9.4942   50.8122
34                  Kieta      PG     80.24  -6.2167  155.6333

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [41]:
len(hotels["results"])

20

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.88,-23.1203,-134.9692,Pension Maro'i
5,Santa Maria Do Suacui,BR,89.17,-18.1903,-42.4142,Hotel do Vavá
9,Meulaboh,ID,80.02,4.1363,96.1285,Kost Pria
10,Souillac,MU,82.40,-20.5167,57.5167,Shanti Maurice Resort & Spa
17,Bathsheba,BB,80.60,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...
538,Luganville,VU,77.94,-15.5333,167.1667,The Espiritu Hotel
539,Necochea,AR,84.00,-38.5473,-58.7368,dyd -mar Hotel
540,Beruwala,LK,78.98,6.4788,79.9828,The Palms Hotel
548,Natal,BR,87.80,-5.7950,-35.2094,Villa Park Hotel | Natal
550,Neiafu,TO,78.80,-18.6500,-173.9833,Mystic Sands

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))